__pycache__/
*.pyc
*.pyo
.venv/
env/
*.egg-info/
build/
dist/
*.o
*.so
*.log
*.csv
*.bag
*.zsh
*.bash
*.sh
*.md
*.ps1
*.colcon
*.colcon_install_layout
*.colcon_metadata
*.colcon_log
*.colcon_test_result
*.dsv
*.xml